/* Font import start. Code from https://fonts.google.com/specimen/Montserrat?sidebar.open=true&selection.family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Font import end */

/* Text Styling start */

.paragraph {
  font-family: "Montserrat", sans-serif;
  color: #20234e;
}

.paragraph-footer {
  color: #fafafa;
  margin: 0 30px 30px;
}

.paragraph-footer a {
  padding: 0 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fafafa;
}

.paragraph-footer a:hover {
  color: #00a6e6;
}

.modal-title {
  font-family: "Montserrat", sans-serif;
  color: #20234e;
}

.section-heading {
  color: #20234e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 30px 0;
  line-height: 1;
}

.section-heading-white {
  color: #fafafa;
}

.section-subheading {
  color: #20234e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0;
  line-height: 1;
}

.table-text {
  font-family: "Montserrat", sans-serif;
  color: #20234e;
  text-transform: capitalize;
}

.blockquote-text {
    margin-bottom: 30px;
}

.blockquote-footer {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}

/* Text Styling end */

/* Content Wrappers start */

.content-wrapper {
  background-color: #fafafa;
}

.content-container {
  padding: 0 30px;
}

.owl-carousel-wrapper {
  background-color: #c2dfff;
}

/* Content Wrappers end */

/* Navbar start */

.navbar {
  background-color: #20234e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.navbar-brand img {
  object-fit: contain;
  height: 50px;
  width: 200px;
}

/* Outline property in .navbar .navbar-toggler is from https://codepen.io/Anahiiit/pen/wvGPvaQ */

.navbar .navbar-toggler {
  border: 0;
  outline: none;
}

.navbar-toggler i {
  color: #fafafa;
  font-size: 30px;
}

.nav-item {
  padding-right: 20px;
  text-align: center;
}

.nav-item:not(:last-of-type) {
  border-bottom: 2px solid #fafafa;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fafafa;
}

.navbar-dark .navbar-nav .active:hover {
  color: #fafafa;
}

.nav-link:before {
  background: transparent;
}

/* Navbar end */

/* Contact Form start */

.modal-title {
  padding-left: 2rem;
  width: 100%;
}

.contact-form {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #20234e;
}

.btn {
  font-family: "Montserrat", sans-serif;
  color: #20234e;
  background-color: #fafafa;
  border: 2px solid #20234e;
  border-radius: 23px;
  text-transform: none;
}

.btn:hover {
  background-color: #20234e;
  color: #fafafa;
}

/* Contact Form end */

/* Home Page Hero Image Slider start. Code is from https://www.codeseek.co/suez/cities-slider-react-OjGQza */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hero-image {
  background: #000;
  height: 100vh;
}

.slider {
  overflow: hidden;
  position: relative;
  height: inherit;
}
.slider.s--ready {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.slider__slides {
  position: relative;
  height: 100%;
}
.slider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.slider__slide.s--active {
  pointer-events: auto;
}
.slider__slide-content {
  z-index: 6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-transform: uppercase;
  line-height: 1;
}
.slider__slide.s--active .slider__slide-heading {
  transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slider__slide-heading {
  display: flex;
  letter-spacing: 8px;
  color: #fafafa;
}
.slider__slide-heading span {
  display: block;
  opacity: 0;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
  transition: all 0.3333333333s;
}
.slider__slide.s--prev .slider__slide-heading span {
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}
.slider__slide.s--active .slider__slide-heading span {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slider__slide-heading span:nth-child(1) {
  transition-delay: 0s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(1) {
  transition-delay: 0.3333333333s;
}
.slider__slide-heading span:nth-child(2) {
  transition-delay: 0.1s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(2) {
  transition-delay: 0.4333333333s;
}
.slider__slide-heading span:nth-child(3) {
  transition-delay: 0.2s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(3) {
  transition-delay: 0.5333333333s;
}
.slider__slide-heading span:nth-child(4) {
  transition-delay: 0.3s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(4) {
  transition-delay: 0.6333333333s;
}
.slider__slide-heading span:nth-child(5) {
  transition-delay: 0.4s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(5) {
  transition-delay: 0.7333333333s;
}
.slider__slide-heading span:nth-child(6) {
  transition-delay: 0.5s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(6) {
  transition-delay: 0.8333333333s;
}
.slider__slide-heading span:nth-child(n + 7) {
  transition-delay: 0.6s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(n + 7) {
  transition-delay: 0.9333333333s;
}
.slider__slide-readmore {
  position: relative;
  font-size: 14px;
  text-transform: lowercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-readmore {
  transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.slider__slide-parts {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__slide-parts:after {
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.slider__slide-part {
  position: relative;
  width: 25%;
  height: 100%;
}
.slider__slide-part-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 0 0;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.slider__slide-part-inner:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  transition: opacity 0.25s;
  opacity: 0;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner {
  z-index: 3;
  transition-delay: 0.24s;
  -webkit-transform: translateX(-32.5%);
  transform: translateX(-32.5%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(1)
  .slider__slide-part-inner {
  transition-delay: 0.28s;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  left: 0vw;
  transition-delay: 0.365s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(1)
  .slider__slide-part-inner:before {
  transition-delay: 0.28s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner {
  z-index: 2;
  transition-delay: 0.16s;
  -webkit-transform: translateX(-65%);
  transform: translateX(-65%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(2)
  .slider__slide-part-inner {
  transition-delay: 0.36s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  left: -25vw;
  transition-delay: 0.285s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(2)
  .slider__slide-part-inner:before {
  transition-delay: 0.36s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner {
  z-index: 1;
  transition-delay: 0.08s;
  -webkit-transform: translateX(-97.5%);
  transform: translateX(-97.5%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(3)
  .slider__slide-part-inner {
  transition-delay: 0.44s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  left: -50vw;
  transition-delay: 0.205s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(3)
  .slider__slide-part-inner:before {
  transition-delay: 0.44s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner {
  z-index: 0;
  transition-delay: 0s;
  -webkit-transform: translateX(-130%);
  transform: translateX(-130%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(4)
  .slider__slide-part-inner {
  transition-delay: 0.52s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  left: -75vw;
  transition-delay: 0.125s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(4)
  .slider__slide-part-inner:before {
  transition-delay: 0.52s;
}
.slider__slide.s--active .slider__slide-part-inner {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-timing-function: ease;
}
.slider__slide.s--active .slider__slide-part-inner:before {
  opacity: 1;
}

/* Home Page Hero Image Slider end */

/* Discover the best of Australia Carousel start. Code is from https://codepen.io/Anahiiit/pen/wvGPvaQ */

.framebox {
  margin: 0 10px;
}

.owl-prev,
.owl-next {
  font-size: 30px;
  background-color: #c2dfff;
  color: #20234e;
  border: 0;
  padding: 10px;
}

.owl-prev:hover,
.owl-next:hover,
.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

.owl-nav {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.owl-dot {
  display: none;
}

/* Discover the best of Australia carousel end */

/* Cards start */

.card img {
  object-fit: cover;
  height: 150px;
}

.card-title {
  min-height: 75px;
  margin-bottom: 1rem;
}

/* Cards end */

/* Gallery start */

#gallery {
  margin-bottom: 20px;
}

.gallery-images {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0 10px 10px;
}

/* Gallery end */

/* Back to top of page link start */

/* Code for box-shadow was obtained from http://www.corelangs.com/css/box/shadow.html and adapted to have the desired effect */

.top-of-page {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 0 0 10px #20234e;
  -moz-box-shadow: 0 0 10px #20234e;
  -webkit-box-shadow: 0 0 10px #20234e;
  -o-box-shadow: 0 0 10px #20234e;
  border-radius: 50%;
  z-index: 100;
  position: fixed;
  right: 20px;
  bottom: 100px;
}

/* Code for .top-of-page:hover was obtained by viewing the hover.css css properties for the grow effect and adapted to have the desired effect */

.top-of-page:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.top-of-page i {
  color: #20234e;
}

/* Back to top of page link end */

/* Destination Hero Images start */

.hero-image-container {
  padding: 0;
}

.hero-images {
  width: 100%;
  height: 66vh;
  object-fit: cover;
}

.sydney-hero-image {
  object-position: 90% 50%;
}

.melbourne-hero-image {
  object-position: 80% 80%;
}

.brisbane-hero-image {
  object-position: 50% 70%;
}

/* Destination Hero Images end */

/* Quotes start */

.blockquote-footer::before {
    content: "";
}

/* Quotes end */

/* Dropdown menu start */

#dropdownMenuButton {
  width: 60%;
  margin-bottom: 30px;
  padding: 5px;
}

.dropdown-menu {
  width: 60%;
  background-color: #fafafa;
}

.dropdown-toggle {
  background-color: #fafafa;
  border: 2px solid #20234e;
  color: #20234e;
  border-radius: 23px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-toggle:hover {
  background-color: #20234e;
  color: #fafafa;
}

.dropdown-item {
  color: #20234e;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item:hover {
  color: #fafafa;
  background-color: #20234e;
  border-radius: 0px;
}

/* Dropdown Menu end */

/* Map start */

.map-container {
  margin-bottom: 30px;
}

#map-view {
  width: 100%;
  height: 480px;
  background-color: grey;
}

.map-tabs {
  width: 50%;
  height: 100%;
  padding: 0;
  margin-bottom: 30px;
}

.map-tabs .nav-link {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  color: #20234e;
  font-weight: 400;
  border-radius: 23px 0 0 23px;
  border: 2px solid #20234e;
  padding: 5px;
}

.map-tabs:first-of-type .nav-link {
  border-radius: 23px 0 0 23px;
}

.map-tabs:last-of-type .nav-link {
  border-radius: 0 23px 23px 0;
}

.map-tabs .active {
  background-color: #20234e !important;
  color: #fafafa !important;
}

/* Map end */

/* Results table start */

.spinner {
  margin: auto;
}

#resultsTable {
  display: block;
  overflow: scroll;
  height: 480px;
  margin-bottom: 0px;
}

.odd {
  background-color: #fafafa;
}

.even {
  background-color: #c2dfff;
}

/* Results table end */

/* Info Window start */

#info-window th,
#info-window tr {
  padding: 5px;
}

#info-window img {
  height: 20px;
}

/* Info Window end */

/* Footer start */

.footer-container {
  background-color: #20234e;
  color: #fafafa;
  padding: 0;
}

.social-media-icons {
  padding: 0;
  text-align: center;
  font-size: 0;
  margin: 30px auto 20px auto;
  max-width: 300px;
}

.social-media-icons li {
  width: 25%;
}

.social-media-icons li i {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

.social-media-icons li i:hover {
  color: #00a6e6;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

/* Code for .social-media-icons:hover was obtained by viewing the hover.css css properties for the grow effect and adapted to have the desired effect */

.social-media-icons:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.footer-links {
  margin-bottom: 20px;
  padding: 0 20px;
}

/* Footer end */

/* Media Queries start */

@media (min-width: 439px) {
  .card-title {
    min-height: 50px;
  }
}

@media (min-width: 576px) {
  .navbar-brand img {
    width: 250px;
  }

  .section-heading {
    font-size: 3rem;
  }

  .slider__slide-heading {
    font-size: 60px;
  }

  #map-view,
  #list-view {
    display: block;
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .nav-item:not(:last-of-type) {
    border: none;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #00a6e6;
  }

  .nav-link:before {
    background: #00a6e6;
  }

  .quotes,
  .map-container {
    margin-bottom: 30px;
  }
}

/* Media Queries end */
