@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Text Styling */

.paragraph {
  font-family: "Montserrat", sans-serif;
  color: #20234e;
}

.paragraph-footer {
  color: #fafafa;
  margin: 0 30px 30px;
}

.modal-title {
  font-family: "Montserrat", sans-serif;
  color: #20234e;
}

.section-heading {
  color: #20234e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 30px 0;
  line-height: 1;
}

.section-heading-white {
  color: #fafafa;
}

.section-subheading {
  color: #20234e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0;
  line-height: 1;
}

.table-text {
  font-family: "Montserrat", sans-serif;
  color: #20234e;
  text-transform: capitalize;
}

.blockquote-footer {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}

/* Content Wrappers */

.content-wrapper {
  background-color: #fafafa;
}

.slideshow-wrapper {
  background-color: #c2dfff;
}

/* Navbar */

.navbar {
  background-color: #20234e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.navbar-brand img {
  object-fit: contain;
  height: 50px;
  width: 200px;
}

/* Outline property code below from https://codepen.io/Anahiiit/pen/wvGPvaQ */

.navbar .navbar-toggler {
  border: 0;
  outline: none;
}

.navbar-toggler i {
    color: #fafafa;
    font-size: 30px;
}

.nav-item {
  padding-right: 20px;
  text-align: center;
}

.nav-item:not(:last-of-type) {
  border-bottom: 2px solid #fafafa;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fafafa;
}

.navbar-dark .navbar-nav .active:hover {
  color: #fafafa;
}

.hvr-underline-from-center:before {
  background: transparent;
}

/* Contact Form */

.modal-backdrop {
  z-index: 8;
}

.contact-form {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.contact-form label {
  margin-bottom: 15px;
  color: #20234e;
}

.contact-form input {
  margin-bottom: 15px;
}

.btn {
  background-color: #fafafa;
  border: 2px solid #20234e;
  color: #20234e;
  border-radius: 23px;
  width: auto;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background-color: #20234e;
  color: #fafafa;
}

/* Home Page Hero Image Slider. Code is from https://www.codeseek.co/suez/cities-slider-react-OjGQza */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hero-image {
  background: #000;
  height: 100vh;
}

.slider {
  overflow: hidden;
  position: relative;
  height: inherit;
}
.slider.s--ready {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.slider__slides {
  position: relative;
  height: 100%;
}
.slider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.slider__slide.s--active {
  pointer-events: auto;
}
.slider__slide-content {
  z-index: 6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-transform: uppercase;
  line-height: 1;
}
.slider__slide.s--active .slider__slide-heading {
  transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slider__slide-heading {
  display: flex;
  letter-spacing: 8px;
  color: #fafafa;
}
.slider__slide-heading span {
  display: block;
  opacity: 0;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
  transition: all 0.3333333333s;
}
.slider__slide.s--prev .slider__slide-heading span {
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}
.slider__slide.s--active .slider__slide-heading span {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slider__slide-heading span:nth-child(1) {
  transition-delay: 0s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(1) {
  transition-delay: 0.3333333333s;
}
.slider__slide-heading span:nth-child(2) {
  transition-delay: 0.1s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(2) {
  transition-delay: 0.4333333333s;
}
.slider__slide-heading span:nth-child(3) {
  transition-delay: 0.2s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(3) {
  transition-delay: 0.5333333333s;
}
.slider__slide-heading span:nth-child(4) {
  transition-delay: 0.3s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(4) {
  transition-delay: 0.6333333333s;
}
.slider__slide-heading span:nth-child(5) {
  transition-delay: 0.4s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(5) {
  transition-delay: 0.7333333333s;
}
.slider__slide-heading span:nth-child(6) {
  transition-delay: 0.5s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(6) {
  transition-delay: 0.8333333333s;
}
.slider__slide-heading span:nth-child(n + 7) {
  transition-delay: 0.6s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(n + 7) {
  transition-delay: 0.9333333333s;
}
.slider__slide-readmore {
  position: relative;
  font-size: 14px;
  text-transform: lowercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-readmore {
  transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slider__slide-readmore:hover:before {
  transition-delay: 0s;
  opacity: 1;
}
.slider__slide-parts {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__slide-parts:after {
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.slider__slide-part {
  position: relative;
  width: 25%;
  height: 100%;
}
.slider__slide-part-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 0 0;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.slider__slide-part-inner:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  transition: opacity 0.25s;
  opacity: 0;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner {
  z-index: 3;
  transition-delay: 0.24s;
  -webkit-transform: translateX(-32.5%);
  transform: translateX(-32.5%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(1)
  .slider__slide-part-inner {
  transition-delay: 0.28s;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  left: 0vw;
  transition-delay: 0.365s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(1)
  .slider__slide-part-inner:before {
  transition-delay: 0.28s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner {
  z-index: 2;
  transition-delay: 0.16s;
  -webkit-transform: translateX(-65%);
  transform: translateX(-65%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(2)
  .slider__slide-part-inner {
  transition-delay: 0.36s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  left: -25vw;
  transition-delay: 0.285s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(2)
  .slider__slide-part-inner:before {
  transition-delay: 0.36s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner {
  z-index: 1;
  transition-delay: 0.08s;
  -webkit-transform: translateX(-97.5%);
  transform: translateX(-97.5%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(3)
  .slider__slide-part-inner {
  transition-delay: 0.44s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  left: -50vw;
  transition-delay: 0.205s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(3)
  .slider__slide-part-inner:before {
  transition-delay: 0.44s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner {
  z-index: 0;
  transition-delay: 0s;
  -webkit-transform: translateX(-130%);
  transform: translateX(-130%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(4)
  .slider__slide-part-inner {
  transition-delay: 0.52s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  left: -75vw;
  transition-delay: 0.125s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(4)
  .slider__slide-part-inner:before {
  transition-delay: 0.52s;
}
.slider__slide.s--active .slider__slide-part-inner {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-timing-function: ease;
}
.slider__slide.s--active .slider__slide-part-inner:before {
  opacity: 1;
}
.slider__control {
  z-index: 100;
  position: absolute;
  left: 50px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
  transition: all 0.5s 1s;
  cursor: pointer;
}
.slider__control:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 2px solid #000;
  border-bottom: none;
  border-right: none;
  -webkit-transform: translateX(5px) rotate(-45deg);
  transform: translateX(5px) rotate(-45deg);
}
.slider__control--right {
  left: auto;
  right: 50px;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}
.slider__control--right:before {
  -webkit-transform: translateX(-5px) rotate(135deg);
  transform: translateX(-5px) rotate(135deg);
}
.slider.s--ready .slider__control {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.icon-link {
  z-index: 100;
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}

/* Destination Hero Images */

.hero-image-container {
  padding: 0;
}

.hero-images {
  width: 100%;
  height: 66vh;
  object-fit: cover;
}

.sydney-hero-image {
  object-position: 90% 50%;
}

.melbourne-hero-image {
  object-position: 80% 80%;
}

.brisbane-hero-image {
  object-position: 50% 70%;
}

/* Map */

#dropdownMenuButton {
  width: 60%;
  margin-bottom: 30px;
  padding: 5px;
}

.dropdown-menu {
  width: 60%;
  background-color: #fafafa;
}

.dropdown-toggle {
  background-color: #fafafa;
  border: 2px solid #20234e;
  color: #20234e;
  border-radius: 23px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-toggle:hover {
  background-color: #20234e;
  color: #fafafa;
}

.dropdown-item {
  color: #20234e;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item:hover {
  color: #fafafa;
  background-color: #20234e;
  border-radius: 0px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#results {
    height: 100%;
    margin: auto 0;
}

#resultsTable {
  display: block;
  height: 400px;
  overflow: scroll;
}

#info-window th,
#info-window tr {
  padding: 4px;
}

#info-window img {
  height: 20px;
}

.odd {
  background-color: #fafafa;
}

.even {
  background-color: #c2dfff;
}

/* Resolves preventDefault error on swipe over slideshow. Code is from https://stackoverflow.com/questions/55733863/unable-to-preventdefault-inside-passive-event-listener-jquery-mobile */

.slideshow {
  touch-action: manipulation;
}

/* Discover Best of Australia Carousel. Most of the code below is from https://codepen.io/Anahiiit/pen/wvGPvaQ */

.framebox {
  width: 95%;
  margin: auto;
}

.owl-prev,
.owl-next {
  font-size: 30px;
  background-color: #c2dfff;
  color: #20234e;
  border: 0;
  padding: 10px;
}

.owl-prev:hover,
.owl-next:hover,
.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

.owl-nav {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.owl-dot {
  display: none;
}

.card img {
  object-fit: cover;
  height: 150px;
}

.card-title {
    min-height: 50px;
    margin-bottom: 1rem;
}

/* Gallery */

#gallery {
  padding-bottom: 10px;
}

.gallery-images {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* Footer */

.footer-container {
  background-color: #20234e;
  color: #fafafa;
  padding: 0;
}

.social-media-icons {
  padding: 0;
  text-align: center;
  font-size: 0;
  margin: 30px;
}

.social-media-icons li {
  width: 25%;
}

.social-media-icons li i {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

.social-media-icons li i:hover {
  color: #00a6e6;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* Media Queries */

@media (min-width: 576px) {
  .navbar-brand img {
    width: 250px;
  }

  .section-heading {
    font-size: 3rem;
  }

  .slider__slide-heading {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .nav-item:not(:last-of-type) {
    border: none;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #00a6e6;
  }

  .hvr-underline-from-center:before {
    background: #00a6e6;
  }
}
